<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01거래목록</title>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV "
        crossorigin="anonymous "></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/colors/01거래목록.css">

    <link rel="stylesheet" href="../assets/css/colors/nav-menu.css" type="text/css" />
    <style type="text/css">
        .container-fluid {
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;
            margin-right: auto;
            margin-left: auto;
            padding-top: 2vh;
        }

        .btn {
            border-radius: 0rem;
        }

        .Rectangle-10  {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0!important;
        }      
        .Rectangle-10 .ic_select {
            position: unset !important;
            width: 12px;
            height: 24px;
            object-fit: contain;
            background-color: #ffffff;
            transform: unset !important; 
            overflow: hidden;
        }
        .Rectangle-10  .btnSecondText{
            height: unset !important;
            transform: unset !important;
        }
        .Rectangle-10  .btnText{
            height: unset !important;
            transform: unset !important;
        }
        .infoBoxText{
                display: flex;
                align-items: center;
                justify-content: center;
        }
        .Rectangle-5 {
               align-items: center;
                max-width: unset !important;
                display: flex;
                padding: 0 !important;
                justify-content: center;
                width: 100%;
                align-content: center;
        }

        @media screen and (min-width: 2520px) {
            .Rectangle-1 {
                display: flex;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                max-width: unset;
            }
            .mainscreenn {
                max-width: unset;
                margin: 0 !important;
            }
            .nav-text1.diff,
            .nav-text2.diff,
            .nav-text3.diff {
                font-size: 0.8vw;
                margin-top: 1.2vw;
            }

        }
    </style>

</head>

<body class="mainscreenn">
    <div class="Rectangle-1">

        <nav class="navbar navbar-expand-lg navbar-light">
            <button id=navbarexpandbtn class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsedNavbarSupportedContent"
                aria-controls="collapsedNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" onclick=navbarButtonHandler()></span>
            </button>



            <a class="navbar-brand" href="#">
                <img src="../assets/img/gnb-logo.png" class="gnb_logo float-center" />
            </a>


            <button class="btn navbar-btn search-btn" type="button" onclick=searchbarDisplay()>
                <img id="searchButtonimg" src="../assets/img/ic-search-m.png" srcset="../assets/img/ic-search-m@2x.png 2x,
      ../assets/img/ic-search-m@3x.png 3x" class="ic_search_m col-sm" />
            </button>

            <div class="Rectangle-collapse-searchBar" id="searchBar">

                <form class="form-inline">

                    <input class="Rectangle-searchInput col-sm" type="search" aria-label="Search" placeholder="검색어를 입력해주세요.">
                    <button class="btn navbar-btn Rectangle-searchInputbtn" type="submit">
                        <img src="../assets/img/ic-search-m.png" srcset="../assets/img/ic-search-m@2x.png 2x,
                    ../assets/img/ic-search-m@3x.png 3x" class="ic_search_m col-sm" />
                    </button>
                    </input>
                </form>

            </div>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-0 ml-0 justify-content-center navbarExpandPortion">
                    <li class="nav-item active my-2 my-lg-2 col-sm-2 col-md-2 col-lg-8 ">
                        <form class="form-inline">

                            <input class="Rectangle-3 col-sm" type="search" aria-label="Search" />
                            <button class="btn navbar-btn Rectangle-4 " type="submit">
                                <img src="../assets/img/ic-search.png" srcset="../assets/img/ic-search@2x.png 2x,
                      ../assets/img/ic-search@3x.png 3x" class="ic_search">
                            </button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <div class="Rectangle-9">

                            <a class="nav-link" href="#">
                                <img src="../assets/img/gnb-list.png" srcset="../assets/img/gnb-list@2x.png 2x,
                      ../assets/img/gnb-list@3x.png 3x" class="gnb_list diff Rectangle-100">
                                <p class="nav-text1 diff">거래목록</p>
                                </img>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="Rectangle-9">

                            <a class="nav-link" href="#">
                                <img src="../assets/img/gnb-graph.png" srcset="../assets/img/gnb-graph@2x.png 2x,
                      ../assets/img/gnb-graph@3x.png 3x" class="gnb_graph diff Rectangle-100">
                                <p class="nav-text2 diff">통계</p>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="Rectangle-9">

                            <a class="nav-link" href="#">
                                <img src="../assets/img/gnb-rank.png" srcset="../assets/img/gnb-rank@2x.png 2x,
                      ../assets/img/gnb-rank@3x.png 3x" class="gnb_rank diff Rectangle-100">
                                <p class="nav-text3 diff">순의</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="collapse navbar-collapse collapsed-navbar" id="collapsedNavbarSupportedContent">

        <ul class="navbar-nav mr-auto justify-content-center">

            <li class="nav-item">
                <div class="Rectangle-collapse-btns ">

                    <a class="nav-link" href="#">
                        <img src="../assets/img/gnb-list.png" srcset="../assets/img/gnb-list@2x.png 2x,
                    ../assets/img/gnb-list@3x.png 3x" class="gnb_list_compressed">
                        <p class="nav-text1_compressed">거래목록</p>
                        </img>
                        <img src="../assets/img/ic-side-more.png" srcset="../assets/img/ic-side-more@2x.png 2x,
                    ../assets/img/ic-side-more@3x.png 3x" class="ic_side_more float-right">
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="Rectangle-collapse-btns ">

                    <a class="nav-link" href="#">
                        <img src="../assets/img/gnb-graph.png" srcset="../assets/img/gnb-graph@2x.png 2x,
                    ../assets/img/gnb-graph@3x.png 3x" class="gnb_graph_compressed">
                        <p class="nav-text2_compressed">통계</p>
                        <img src="../assets/img/ic-side-more.png" srcset="../assets/img/ic-side-more@2x.png 2x,
                    ../assets/img/ic-side-more@3x.png 3x" class="ic_side_more float-right">
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="Rectangle-collapse-btns">

                    <a class="nav-link" href="#">
                        <img src="../assets/img/gnb-rank.png" srcset="../assets/img/gnb-rank@2x.png 2x,
                    ../assets/img/gnb-rank@3x.png 3x" class="gnb_rank_compressed">
                        <p class="nav-text3_compressed">순의</p>
                        <img src="../assets/img/ic-side-more.png" srcset="../assets/img/ic-side-more@2x.png 2x,
                    ../assets/img/ic-side-more@3x.png 3x" class="ic_side_more float-right">
                    </a>
                </div>
            </li>
    </div>
    </nav>
    </div>
    <script>
        function searchbarDisplay() {

            if (document.getElementById("searchBar").style.display == "block") {
                document.getElementById("searchBar").style.display = "none";
                document.getElementById("searchButtonimg").src = "../assets/img/ic-search-m.png";
                document.getElementById("searchButtonimg").srcset = "../assets/img/ic-search-m@2x.png 2x,../assets/img/ic-search-m@3x.png 3x";

            } else {
                var x = document.getElementById("navbarexpandbtn");
                if (x.getAttribute("aria-expanded") == 'true') {
                    x.click();

                }
                document.getElementById("searchBar").style.display = "block";
                document.getElementById("searchButtonimg").src = "../assets/img/gnb-close.png";
                document.getElementById("searchButtonimg").srcset = "../assets/img/gnb-close@2x.png 2x,../assets/img/gnb-close@3x.png 3x";

            }
        }

        function navbarButtonHandler() {
            if (document.getElementById("searchBar").style.display == "block") {
                document.getElementById("searchBar").style.display = "none";
                document.getElementById("searchButtonimg").src = "../assets/img/ic-search-m.png";
                document.getElementById("searchButtonimg").srcset = "../assets/img/ic-search-m@2x.png 2x,../assets/img/ic-search-m@3x.png 3x";
            }

        }
    </script>
    <div class="container-fluid">

        <!-- NavBar Area -->

        <!-- Main Heading Area -->
        <div class="Rectangle-5">
            <span class="text-style-1">5,241개 이상</span>의 거래가 발견되었습니다.
            <br>
            <span class="text-style-2">(최신 거래순으로 표시)</span>
        </div>


        <!-- White Box for heaidngs and buttons -->

        <div class="whiteBoxTop">

            <!-- Left Top Heading Above the Table -->
            <div class="-524">
                총 5,241개
            </div>

            <!-- First Button on the left -->
            <button class="btn Rectangle-10">
                <span class="btnText">
                    오름차순
                </span>
                <span>
                    <img src="../assets/img/ic-select.png" srcset="../assets/img/ic-select@2x.png 2x,
                                ../assets/img/ic-select@3x.png 3x" class="ic_select">
                </span>
            </button>

            <!-- Second Button on the left -->
            <button class="btn Rectangle-10 right">
                <span class="btnSecondText">
                    000개씩
                </span>
                <span>
                    <img src="../assets/img/ic-select.png" srcset="../assets/img/ic-select@2x.png 2x,
                                ../assets/img/ic-select@3x.png 3x" class="ic_select">
                </span>
            </button>

            <!-- Left Directional Button -->
            <button class="btn Rectangle-11 top">
                <i class="fa fa-angle-left fa-2x Shape-1-2"></i>
            </button>

            <!-- InfoBox Between Directional Buttons -->
            <div class="Rectangle-11-copy-2 top infoBoxText">
                <span>000000</span>
            </div>

            <!-- Right Directional Button -->
            <button class="btn Rectangle-11-copy top">
                <i class="fa fa-angle-right fa-2x Shape-1-2-copy"></i>
            </button>

            <!-- Info Num Box -->
            <div class="infoNumBox top">
                /5,241
            </div>

        </div>

        <!-- Table 1 -->

        <div class="Rectangle-7 Rectangle-11">

            <div class="box one">
                <div class="TX-ID"> TX ID </div>
                <div class="bodyText style-1 padText">35516177
                    <button class="btn">
                        <img src="../assets/img/ic-error.png" srcset="../assets/img/ic-error@2x.png 2x,
                                ../assets/img/ic-error@3x.png 3x" class="ic_error">
                    </button>
                </div>
            </div>

            <div class="box two">
                <div class="TX-ID">만료시간</div>
                <div class="-">10초 전</div>
            </div>

            <div class="box three">
                <div class="TX-ID">받은 주소</div>
                <div class="p2p">p2p</div>
            </div>

            <div class="secondRowMob">
                <div class="box four">
                    <div class="TX-ID">받은 주소</div>
                    <div class="f8c5259d3c787e7a">f8c5259d….3c787e7a</div>
                </div>

                <div class="box five">
                    <div class="TX-ID">보낸 주소</div>
                    <div class="b5e88-0af5c3e5">172b5e88 .... 0af5c3e5</div>
                </div>
            </div>

            <div class="box six">
                <div class="TX-ID">양</div>
                <div class="-LIB">10 LIB</div>
            </div>

            <div class="box seven">
                <div class="TX-ID">TX 수수료</div>
                <div class="-LIB">000 LIB</div>
            </div>

        </div>


        <!-- Table 2 -->
        <div class="Rectangle-7 Rectangle-11">

            <div class="box one">
                <div class="TX-ID"> TX ID </div>
                <div class="bodyText style-1 ">35516177

                </div>
            </div>

            <div class="box two">
                <div class="TX-ID">만료시간</div>
                <div class="-">10초 전</div>
            </div>

            <div class="box three">
                <div class="TX-ID">받은 주소</div>
                <div class="p2p">p2p</div>
            </div>

            <div class="secondRowMob">
                <div class="box four">
                    <div class="TX-ID">받은 주소</div>
                    <div class="f8c5259d3c787e7a">f8c5259d….3c787e7a</div>
                </div>

                <div class="box five">
                    <div class="TX-ID">보낸 주소</div>
                    <div class="b5e88-0af5c3e5">172b5e88 .... 0af5c3e5</div>
                </div>
            </div>

            <div class="box six">
                <div class="TX-ID">양</div>
                <div class="-LIB">10 LIB</div>
            </div>

            <div class="box seven">
                <div class="TX-ID">TX 수수료</div>
                <div class="-LIB">000 LIB</div>
            </div>

        </div>

        <!-- Table 3 -->

        <div class="Rectangle-7 Rectangle-11">

            <div class="box one">
                <div class="TX-ID"> TX ID </div>
                <div class="bodyText style-1 ">35516177

                </div>
            </div>

            <div class="box two">
                <div class="TX-ID">만료시간</div>
                <div class="-">10초 전</div>
            </div>

            <div class="box three">
                <div class="TX-ID">받은 주소</div>
                <div class="p2p">p2p</div>
            </div>

            <div class="secondRowMob">
                <div class="box four">
                    <div class="TX-ID">받은 주소</div>
                    <div class="f8c5259d3c787e7a">f8c5259d….3c787e7a</div>
                </div>

                <div class="box five">
                    <div class="TX-ID">보낸 주소</div>
                    <div class="b5e88-0af5c3e5">172b5e88 .... 0af5c3e5</div>
                </div>
            </div>

            <div class="box six">
                <div class="TX-ID">양</div>
                <div class="-LIB">10 LIB</div>
            </div>

            <div class="box seven">
                <div class="TX-ID">TX 수수료</div>
                <div class="-LIB">000 LIB</div>
            </div>

        </div>

        <!-- Table 4 -->

        <div class="Rectangle-7 Rectangle-11">

            <div class="box one">
                <div class="TX-ID"> TX ID </div>
                <div class="bodyText style-1 ">35516177

                </div>
            </div>

            <div class="box two">
                <div class="TX-ID">만료시간</div>
                <div class="-">10초 전</div>
            </div>

            <div class="box three">
                <div class="TX-ID">받은 주소</div>
                <div class="p2p">p2p</div>
            </div>

            <div class="secondRowMob">
                <div class="box four">
                    <div class="TX-ID">받은 주소</div>
                    <div class="f8c5259d3c787e7a">f8c5259d….3c787e7a</div>
                </div>

                <div class="box five">
                    <div class="TX-ID">보낸 주소</div>
                    <div class="b5e88-0af5c3e5">172b5e88 .... 0af5c3e5</div>
                </div>
            </div>

            <div class="box six">
                <div class="TX-ID">양</div>
                <div class="-LIB">10 LIB</div>
            </div>

            <div class="box seven">
                <div class="TX-ID">TX 수수료</div>
                <div class="-LIB">000 LIB</div>
            </div>

        </div>

        <!-- Table 5 -->

        <div class="Rectangle-7 Rectangle-11">

            <div class="box one">
                <div class="TX-ID"> TX ID </div>
                <div class="bodyText style-1 ">35516177

                </div>
            </div>

            <div class="box two">
                <div class="TX-ID">만료시간</div>
                <div class="-">10초 전</div>
            </div>

            <div class="box three">
                <div class="TX-ID">받은 주소</div>
                <div class="p2p">p2p</div>
            </div>

            <div class="secondRowMob">
                <div class="box four">
                    <div class="TX-ID">받은 주소</div>
                    <div class="f8c5259d3c787e7a">f8c5259d….3c787e7a</div>
                </div>

                <div class="box five">
                    <div class="TX-ID">보낸 주소</div>
                    <div class="b5e88-0af5c3e5">172b5e88 .... 0af5c3e5</div>
                </div>
            </div>

            <div class="box six">
                <div class="TX-ID">양</div>
                <div class="-LIB">10 LIB</div>
            </div>

            <div class="box seven">
                <div class="TX-ID">TX 수수료</div>
                <div class="-LIB">000 LIB</div>
            </div>

        </div>

        <!-- Table 6 -->

        <div class="Rectangle-7 Rectangle-11">

            <div class="box one">
                <div class="TX-ID"> TX ID </div>
                <div class="bodyText style-1 ">35516177

                </div>
            </div>

            <div class="box two">
                <div class="TX-ID">만료시간</div>
                <div class="-">10초 전</div>
            </div>

            <div class="box three">
                <div class="TX-ID">받은 주소</div>
                <div class="p2p">p2p</div>
            </div>

            <div class="secondRowMob">
                <div class="box four">
                    <div class="TX-ID">받은 주소</div>
                    <div class="f8c5259d3c787e7a">f8c5259d….3c787e7a</div>
                </div>

                <div class="box five">
                    <div class="TX-ID">보낸 주소</div>
                    <div class="b5e88-0af5c3e5">172b5e88 .... 0af5c3e5</div>
                </div>
            </div>

            <div class="box six">
                <div class="TX-ID">양</div>
                <div class="-LIB">10 LIB</div>
            </div>

            <div class="box seven">
                <div class="TX-ID">TX 수수료</div>
                <div class="-LIB">000 LIB</div>
            </div>

        </div>

        <!-- Table 7 -->

        <div class="Rectangle-7 Rectangle-11 tableView">

            <div class="box one">
                <div class="TX-ID"> TX ID </div>
                <div class="bodyText style-1 ">35516177

                </div>
            </div>

            <div class="box two">
                <div class="TX-ID">만료시간</div>
                <div class="-">10초 전</div>
            </div>

            <div class="box three">
                <div class="TX-ID">받은 주소</div>
                <div class="p2p">p2p</div>
            </div>

            <div class="secondRowMob">
                <div class="box four">
                    <div class="TX-ID">받은 주소</div>
                    <div class="f8c5259d3c787e7a">f8c5259d….3c787e7a</div>
                </div>

                <div class="box five">
                    <div class="TX-ID">보낸 주소</div>
                    <div class="b5e88-0af5c3e5">172b5e88 .... 0af5c3e5</div>
                </div>
            </div>

            <div class="box six">
                <div class="TX-ID">양</div>
                <div class="-LIB">10 LIB</div>
            </div>

            <div class="box seven">
                <div class="TX-ID">TX 수수료</div>
                <div class="-LIB">000 LIB</div>
            </div>

        </div>

        <!-- Table 8 -->

        <div class="Rectangle-7 Rectangle-11 tableView">

            <div class="box one">
                <div class="TX-ID"> TX ID </div>
                <div class="bodyText style-1 ">35516177

                </div>
            </div>

            <div class="box two">
                <div class="TX-ID">만료시간</div>
                <div class="-">10초 전</div>
            </div>

            <div class="box three">
                <div class="TX-ID">받은 주소</div>
                <div class="p2p">p2p</div>
            </div>

            <div class="secondRowMob">
                <div class="box four">
                    <div class="TX-ID">받은 주소</div>
                    <div class="f8c5259d3c787e7a">f8c5259d….3c787e7a</div>
                </div>

                <div class="box five">
                    <div class="TX-ID">보낸 주소</div>
                    <div class="b5e88-0af5c3e5">172b5e88 .... 0af5c3e5</div>
                </div>
            </div>

            <div class="box six">
                <div class="TX-ID">양</div>
                <div class="-LIB">10 LIB</div>
            </div>

            <div class="box seven">
                <div class="TX-ID">TX 수수료</div>
                <div class="-LIB">000 LIB</div>
            </div>

        </div>

        <!-- Table 9 -->

        <div class="Rectangle-7 Rectangle-11 tableView">

            <div class="box one">
                <div class="TX-ID"> TX ID </div>
                <div class="bodyText style-1 ">35516177

                </div>
            </div>

            <div class="box two">
                <div class="TX-ID">만료시간</div>
                <div class="-">10초 전</div>
            </div>

            <div class="box three">
                <div class="TX-ID">받은 주소</div>
                <div class="p2p">p2p</div>
            </div>

            <div class="secondRowMob">
                <div class="box four">
                    <div class="TX-ID">받은 주소</div>
                    <div class="f8c5259d3c787e7a">f8c5259d….3c787e7a</div>
                </div>

                <div class="box five">
                    <div class="TX-ID">보낸 주소</div>
                    <div class="b5e88-0af5c3e5">172b5e88 .... 0af5c3e5</div>
                </div>
            </div>

            <div class="box six">
                <div class="TX-ID">양</div>
                <div class="-LIB">10 LIB</div>
            </div>

            <div class="box seven">
                <div class="TX-ID">TX 수수료</div>
                <div class="-LIB">000 LIB</div>
            </div>

        </div>

        <!-- Table 10 -->

        <div class="Rectangle-7 Rectangle-11 tableView">

            <div class="box one">
                <div class="TX-ID"> TX ID </div>
                <div class="bodyText style-1 ">35516177


                </div>
            </div>

            <div class="box two">
                <div class="TX-ID">만료시간</div>
                <div class="-">10초 전</div>
            </div>

            <div class="box three">
                <div class="TX-ID">받은 주소</div>
                <div class="p2p">p2p</div>
            </div>

            <div class="secondRowMob">
                <div class="box four">
                    <div class="TX-ID">받은 주소</div>
                    <div class="f8c5259d3c787e7a">f8c5259d….3c787e7a</div>
                </div>

                <div class="box five">
                    <div class="TX-ID">보낸 주소</div>
                    <div class="b5e88-0af5c3e5">172b5e88 .... 0af5c3e5</div>
                </div>
            </div>

            <div class="box six">
                <div class="TX-ID">양</div>
                <div class="-LIB">10 LIB</div>
            </div>

            <div class="box seven">
                <div class="TX-ID">TX 수수료</div>
                <div class="-LIB">000 LIB</div>
            </div>

        </div>


        <!-- Submit Button and bottom directional Buttons-->

        <div class="bottomWhiteBox">

            <!-- Submit Button Button -->
            <button class="btn Rectangle-12">
                <span class="bodyText style-1">
                    다음
                </span>
            </button>

            <!-- Left Directional Button -->
            <button class="btn Rectangle-11 bottom">
                <i class="fa fa-angle-left fa-2x Shape-1-2"></i>
            </button>

            <!-- InfoBox Between Directional Buttons -->
            <div class="Rectangle-11-copy-2 bottom infoBoxText">
                000000
            </div>

            <!-- Right Directional Button -->
            <button class="btn Rectangle-11-copy bottom">
                <i class="fa fa-angle-right fa-2x Shape-1-2-copy"></i>
            </button>

            <!-- Info Num Box -->
            <div class="infoNumBox bottom">
                /5,241
            </div>

        </div>

        <!-- Bottom Box for Social Media Icons -->

        <div class="Rectangle-8">

            <!-- FaceBook Button -->
            <button class="btn Ellipse-2 fb">
                <img src="../assets/img/ic-facebook.png" srcset="../assets/img/ic-facebook@2x.png 2x,
                            ../assets/img/ic-facebook@3x.png 3x" class="ic_facebook">
            </button>

            <!-- Twitter Button -->
            <button class="btn Ellipse-2 twitter">
                <img src="../assets/img/ic-twitter.png" srcset="../assets/img/ic-twitter@2x.png 2x,
                            ../assets/img/ic-twitter@3x.png 3x" class="ic_twitter">
            </button>

            <!-- Email Button -->
            <button class="btn Ellipse-2 email">
                <img src="../assets/img/ic-email.png" srcset="../assets/img/ic-email@2x.png 2x,
                            ../assets/img/ic-email@3x.png 3x" class="ic_email">
            </button>

            <!-- Copyright Text -->
            <span class="-2020-LibExplorer-">
                @ 2020 LibExplorer. 저작권 소유
            </span>

        </div>


    </div>

</body>

</html>